body{
    font-family: 'Inter', sans-serif;
}
.btn{
    background-color: rgba(128, 128, 128, 0.534);
    border-radius: 0px;
}
.btn:active{
    background-color: red;
    color: white;
    transition: 2000;
}